.aspect-ratio {
	position: relative;
}

.aspect-ratio:before {
	display: block;
	content: "";
	width: 100%;
}

.aspect-ratio-16-9:before {
	padding-top: 56.25%;
}

.aspect-ratio > * {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 10px;
}

.fullheight {
	height: 100%;
}

.fullwidth {
	width: 100%;
}

.width-45 {
	width: 45%;
}

.width-60 {
	width: 60%;
}

.float-left {
	float: left;
	margin: 0 20px 20px 0;
}

.float-right {
	float: right;
	margin: 0 0 20px 20px;
}

.float-clear {
	clear: both;
}

body, label, input {
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0;
}

figcaption {
	font-size: 12px;
	opacity: 0;
	transition: opacity 300ms;
}

figure:hover > figcaption {
	opacity: 1;
}

footer {
	margin-bottom: 40px;
}

h1, h2 {
	font-family: 'Rajdhani', sans-serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

hr {
	margin: 40px 0;
}

input {
	border: 1px solid lightgrey;
	border-radius: 4px;
	padding: 4px;
	font-size: 1em;
}

p {
	margin-top: 10px;
	margin-bottom: 20px;
}

section {
	margin-top: 40px;
}

.header-banner {
	background: center black;
	background-image: url('../media/banner.jpg');
	height: 60px;
}

#mc_embed_signup {
	background:#fff;
	clear:left;
	font: 14px Helvetica,Arial,sans-serif;
}
