.aspect-ratio {
	position: relative;
}

.aspect-ratio:before {
	display: block;
	content: "";
	width: 100%;
}

.aspect-ratio-16-9:before {
	padding-top: 56.25%;
}

.aspect-ratio > * {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.cover {
	background-size: cover;
}

.fullheight {
	height: 100%;
}

.fullwidth {
	width: 100%;
}

.row {
	margin-bottom: 40px;
}

footer {
	margin-bottom: 40px;
}

hr {
	margin: 40px 0;
}

p {
	margin-top: 10px;
	margin-bottom: 40px;
}
